.club-bar {
	position: fixed; /* Fix the club bar to the right side of the screen */
	right: 0;
	top: 0;
	width: 40px; /* Initially small width when collapsed */
	height: 100vh; /* Full height of the viewport */
	margin-top: 116px;
	background-color: #d5def3;
	padding: 1rem;
	transition: width 0.3s ease-in-out;
	z-index: 1000; /* Ensure it's on top of other elements */
	box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
}

.club-bar:hover {
	width: 250px; /* Expand width when hovered */
}

.club-bar.closed {
	width: 40px; /* Maintain collapsed width when not hovered */
}

.club-bar-toggle {
	position: absolute;
	top: 10px;
	left: -40px; /* Adjusted to place the toggle on the left edge */

	color: #fff;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1001; /* Ensures the toggle is always clickable */
}

.club-bar-content {
	transition: opacity 0.3s ease-in-out;
	opacity: 0; /* Initially hidden */
}

.club-bar:hover .club-bar-content {
	opacity: 1; /* Show content when hovered */
}

.club-bar-header,
.club-bar-content h4,
.club-bar-content ul {
	margin: 0;
	padding: 0;
}

.club-bar-content ul {
	list-style: none;
	padding-left: 0;
}

.club-bar-content li {
	padding: 0.5rem 0;
}
