.image-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	padding: 10px;
}

.image-content {
	position: relative;
}

.modal-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	margin: 0;
}

.image-close-button {
	position: absolute;
	top: 15px;
	right: 15px;
	background: red;
	color: white;
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	transition: background 0.3s, transform 0.2s;
	z-index: 1001;
}

.image-close-button:hover {
	background: darkred;
	transform: scale(1.1);
}
