.topbar-page {
  text-transform: capitalize;
}

.topbar {
  background-color: #1b065e;
  color: #000000;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-right: 1rem;
}

.logo img {
  width: 200px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.topbar-content {
  display: flex;
  flex-direction: column;
  margin-left: 4.4rem;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.topbar-content:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.topbar-page {
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.topbar-page:hover {
  color: #333;
}

.topbar-date {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  transition: color 0.3s ease;
}

.topbar-date:hover {
  color: #666;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.icons i {
  font-size: 1.8rem;
  margin-left: 1.5rem;

  color: white;
  transition: color 0.3s ease;
}

.icons i:hover {
  color: rgb(182, 196, 228);
}

.profile-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1.5rem;
}

.profile-container .student-name {
  margin-left: 1rem;
  cursor: pointer;
}

.dropdown-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-icon:hover {
  color: #555;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  padding-right: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  width: 100%;
  padding: 0.5rem;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.user-role {
  margin-left: 0.5rem;
  font-weight: bold;
  color: #dfe4f1;
}
